.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    gap: 5px;
}

.board .line {
    display: flex;
    gap: 5px;
    position: relative;
}

.board .cell {
    width: 52px;
    background: transparent;
    border: 1px solid;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /*position: absolute;*/
}

.cell.current {
    border: 1px solid red;
}

.cell.scale {
    animation-duration: 0.05s;
    animation-name: scale;
}

@keyframes scale {
    from {
        scale: 1;
    }

    to {
        scale: 1.1;
    }
}

.keyboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-items: center;
    width: max-content;
    gap: 5px;
    margin: auto auto 0 auto;
}

.keyboard button {
    background-color: rgb(243, 243, 243);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: auto;
    height: auto;
    font-weight: bold;
}

.keyboard button.enter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
}

.keyboard button.backspace {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
}

.keyboard button:hover {
    border: 1px solid #eeeeee;
}

@media screen and (max-width: 400px) {
    .keyboard button {
        width: auto;
        height: auto;
        font-size: 3vw;
    }

    .keyboard button.enter,.keyboard button.backspace {
        width: auto;
    }
}
